<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" href="/css/view.css">
</head>
<body>
	<div th:insert="header :: head"></div>
    <table>
    	<tr>
    		<td class="title" colspan="2">Employee Details</td>
    	</tr>
        <tr>
            <td >ID: </td>
            <td th:text="${employee.id}"></td>
        </tr>
        <tr>
            <td>First Name: </td>
            <td th:text="${employee.firstName}"></td>
        </tr>
        <tr>
            <td>Last Name: </td>
            <td th:text="${employee.lastName}"></td>
        </tr>
        <tr>
            <td>Gender: </td>
            <td th:text="${employee.gender}"></td>
        </tr>
        <tr>
            <td>Department: </td>
            <td th:text="${employee.department}"></td>
        </tr>
        <tr>
            <td>Country: </td>
            <td th:text="${employee.country}"></td>
        </tr>
    </table>
</body>
</html>